<div class="grid-x grid-padding-x">
  <div class="small-12 cell show-for-small-only">
    <h2><%= @resource_item.title %>
  </div>
  <div class="small-12 medium-8 large-8 cell">
    <p>
    <%= @resource_item.image %>
    <%= image_tag 'bookCover.png' %>
    </p>
    
    <p>
      <strong>Long summary:</strong>
      <%= @resource_item.long_summary %>
    </p>

    <p>
      <strong>Key takeaways:</strong>
      <%= @resource_item.key_takeaways %>
    </p>

    <p>
      <strong>Optional analysis:</strong>
      <%= @resource_item.optional_analysis %>
    </p>
    <p>
      <strong>Other notes:</strong>
      <%= @resource_item.other_notes %>
    </p>
  </div>

  <div class="small-12 medium-4 large-4 cell">
    <p>
      <h2 class="hide-for-small-only"><%= @resource_item.title %></h2>
    </p>
    <p>
      <strong>Short summary:</strong>
      <%= @resource_item.short_summary %>
    </p>

    <table class="unstriped">
      <tr>
        <td><%= @resource_item.estimated_reading_time %> min read</td>
        <td><%= @resource_item.published_at %></td>
      </tr>
      <tr>
        <td><%= @resource_item.resource_type %></td>
        <td></td>
      </tr>
    </table>

    <div class="small-12 medium-6 large-6 cell">
      <strong>Author:</strong>
      <%= @resource_item.author %>
    </div>


    <div class="small-12 medium-6 large-6 cell">
      <strong>Lens shifter:</strong>
      <%= @resource_item.lens_shifter.first_name %>
    </div>

    <p>
      <% @resource_item.tag_list.each do |tag| %>
        <span class="label secondary"><%= tag %></span>
      <% end %>
    </p>

  </div>

  <iframe class="small-10 medium-10 large-10 small-offset-1 medium-offset-1 large-offset-1 cell resource-iframe" src="<%= @resource_item.source_url %>"></iframe>
</div>



