<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-8 large-6 medium-offset-2 large-offset-3">

      <h1>Lens Shifter Profiles</h1>

      <table>
        <thead>
          <tr>
            <th>Model</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @lens_shifter_profiles.each do |lens_shifter_profile| %>
            <tr>
              <td><%= lens_shifter_profile.model %></td>
              <td><%= link_to 'Show', lens_shifter_profile %></td>
              <td><%= link_to 'Edit', edit_lens_shifter_profile_path(lens_shifter_profile) %></td>
              <td><%= link_to 'Destroy', lens_shifter_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Lens Shifter Profile', new_lens_shifter_profile_path %>
    </div>
  </div>
</div>
