<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "LensShift" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <%= render partial: "layouts/navbar" %>
  <div class='grid-container' id='main-container'>

      <% if notice.present? %>
        <p class="callout primary" data-closable><%= notice %></p>
        <% end %>

        <% if alert.present? || flash[:error] %>
        <div class="callout alert" data-closable><%= alert || flash[:error] %></div>
      <% end %>

      <%= yield %>
      <div class='push'></div>
  </div>
  <div class='footer'>
    this is a footer
  </div>
  </body>
</html>
